header {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.83), rgba(0,0,0,0.83)), url("../img/header-bg.jpg") no-repeat;
    background-size: cover;
    height: 953px;
    color: white;
}

.title {
    font-size: 67px;
    margin-top: 77px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.subtitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: normal;
    font-style: italic;
    padding-top: 15px;
}